<h1>New algorithm</h1>

<%= error_messages_for :algorithm %>

<% form_for(@algorithm) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', algorithms_path %>
