<p>
  <b>Algorithm:</b>
  <%=h @algorithm_comparison_join.algorithm_id %>
</p>

<p>
  <b>Comparison:</b>
  <%=h @algorithm_comparison_join.comparison_id %>
</p>


<%= link_to 'Edit', edit_algorithm_comparison_join_path(@algorithm_comparison_join) %> |
<%= link_to 'Back', algorithm_comparison_joins_path %>
