<div id="result_chart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>

<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/amcolumn/amcolumn.swf", "blah_chart", "100%", "380", "6", "#111111");
  so.addVariable("path", "/amcolumn/");
  so.addVariable("settings_file", escape("/amcolumn/amcolumn_settings.xml"));
  so.addVariable("data_file", escape("<%= @result_data_link %>"));
  so.addVariable("preloader_color", "#009999");
  so.write("result_chart");
  // ]]>
</script>